<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="currenciesConfig" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	
	<currenciesConfig>
		<add key="DsUrl"  value="https://treasury.un.org/operationalrates/xsql2XML.php" />
		<add key="LocalDsPath" value="currencies.xml"/>
		<add key="DsType" value="xml" />
		<add key="IterElemName" value="UN_OPERATIONAL_RATES"/>
		<add key="KeyElemName" value="f_curr_code" />
		<add key="ValElemName" value="rate" />

	</currenciesConfig>
</configuration>